<html>
    <head>
        <title>JaeKoo's Blog!</title>
    </head>
    <body>
        <div>
            <h1><a href="">Project 1</a></h1>
        </div>

        <div>
            <p>published: 25.07.2016, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello Everyone</p>
        </div>

        <div>
            <p>published: 25.07.2016, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Ru, Song, Lee Project</p>
        </div>
    </body>
</html>